body{
    background-image: url("/assets/imgs/background/Game_OnceHuman_01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(rgb(57, 57, 57), rgb(89, 89, 89), rgb(79, 79, 79), 0.5)
}
/* Navbar link hover effect */
.navbar-nav .nav-link:hover {
    color: #00b4d8;
    transition: color 0.3s ease-in-out;
}

/* Table row hover effect */
table tbody tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

/* Custom styles for table */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background-color: rgba(214, 214, 214, 0.6);
}

th, td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

th {
    background-color: #f4cb24;
    color: #000;
}

/* tr:nth-child(even) {
    background-color: #f9f9f9;
} */

/* Custom classes */
.stats {
    font-size: 16px;
    
}

.location, .gear-type {
    color: rgb(104, 34, 145);
    font-style: normal;
}

.gear-type {
    text-transform: uppercase;
}

.mod-type {
    color: purple;
    font-style: normal;
}

/* Image size */
img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}
.footers{
    display: flex; 
    padding:0.1rem 1rem;
    justify-content: center; 
    font-size: large; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    color: #f1f1f1;
}
